*.tar.gz
/fuzzer/syzkaller_image/
/fuzzer/bin/

/gcc-9.3.0
/analyzer/build
/analyzer/TestCases/case1/linux-bitcode
/analyzer/TestCases/case2/linux-bitcode
/analyzer/TestCases/case3/linux-bitcode
/analyzer/TestCases/case4/linux-bitcode
/analyzer/TestCases/case5/linux-bitcode
/analyzer/TestCases/case6/linux-bitcode
/analyzer/TestCases/case7/linux-bitcode
/analyzer/TestCases/case8/linux-bitcode
/analyzer/TestCases/case1/linux-gcc
/analyzer/TestCases/case2/linux-gcc
/analyzer/TestCases/case3/linux-gcc
/analyzer/TestCases/case4/linux-gcc
/analyzer/TestCases/case5/linux-gcc
/analyzer/TestCases/case6/linux-gcc
/analyzer/TestCases/case7/linux-gcc
/analyzer/TestCases/case8/linux-gcc
